%section.accommodations
  .heading
    %h2 Accommodations

  - data.accommodations.each do |a|
    .accommodation
      %h5.header-divider= a.name
      %p= a.description
      %ul
        %li
          %strong= a.address
        %li
          = link_to a.directions do
            = fa_icon "map-marker"
            %strong Directions
        %li
          %strong Phone: #{a.phone}
      = link_to "Book Now", a.booking_url, target: "_blank", class: "button"
