%section.accommodations
  .heading
    %h2 Accommodations

    %p.large-paragraph
      Discounted rates are available at two Glastonbury hotels. The hotels are
      next to each other and share a parking lot.

    = image_tag "hotels.png", class: "accommodations-aerial-image block-image"

  - data.accommodations.each do |a|
    .accommodation
      %h5.header-divider= a.name
      %p= a.description
      %ul
        %li
          %strong= a.address
        %li
          = link_to a.directions do
            = fa_icon "map-marker"
            %strong Directions
        %li
          %strong Phone: #{a.phone}
      = link_to "Book Now", a.booking_url, target: "_blank", class: "button"
