%section.accommodations
  .heading
    %h2 Accommodations

  - data.accommodations.each do |a|
    .accommodation
      %h5.header-divider= a.name
      %p= a.description
      %h6= a.street_address
      %h6= a.extended_address
      %h6 Phone: #{a.phone}
      = link_to "Book Now", a.booking_url, class: "button"
