.schedule.centered
  %section
    .heading
      %h2 Schedule
      = image_tag "ct_state.svg", class: "state-of-connecticut"

    - data.schedule.each do |s|
      .event
        %h5.header-divider-centered= s.event
        %h3= s.name
        %h6
          = link_to s.directions, target: "_blank" do
            = s.street_address
            %br
            = s.extended_address

= partial "itinerary"
