.schedule.centered
  %section
    %h2 Schedule
    = image_tag "ct_state.svg", class: "ct-state"

    - data.schedule.each do |s|
      .schedule-event
        %h5.header-divider-centered= s.event
        %h3= s.name
        %p
          = link_to s.directions, target: "_blank" do
            = s.street_address
            %br
            = s.extended_address

= partial "itinerary"
