.js-anchor#anchor_the_wedding
  = partial "hero"

.js-anchor#anchor_schedule
  = partial "schedule"

.js-anchor#anchor_food
  = partial "callout", locals: { title: t(".food.title"),
    content: t(".food.content_html"), image: "millwrights_food.jpg" }

.js-anchor#anchor_accommodations
  = partial "accommodations"

.js-anchor#anchor_buses
  = partial "callout", locals: { title: t(".buses.title"),
    content: t(".buses.content_html"), image: "historic_map.png" }

.js-anchor#anchor_registry
  = partial "registry"

.js-anchor#anchor_wedding_party
  = partial "wedding_party"
