= partial "hero"

= partial "schedule"

= partial "itinerary"

= partial "callout_bar", locals: { image: "food", title: "Food",
  text: "Food text."}

= partial "accommodations"

= partial "transportation"

= partial "registry"

= partial "wedding_party"

= partial "footer"
